
<div class="row">
    <div class="col-md-12">

        <h2>{{department.departmentName}} - Department: {{department.departmentId}}</h2>

        <br />

        <form method="post" action="/department/update">

            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="departmentId" name="departmentId" value="{{department.departmentId}}" type="hidden" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="departmentName">Department Name:</label>
                            <input class="form-control" id="departmentName" name="departmentName" 
                            value="{{department.departmentName}}" type="text" />
                        </div>
                    </div>
                </div>
                    

            <input type="submit" class="btn btn-primary pull-right" value="Update Department" />

        </form>
    </div>
</div>