@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');



.navbar-default .navbar-brand {
  font-family:'Zen Dots';
color:black;
  font-size: 15px;
}

.h2, h2 {
  font-family: 'Roboto Mono';
}